/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Jersey 15", sans-serif;
    --primary-color: #FFF4CF; /* Light yellow */
}

/* Logo */
.logo {
    margin-left: 40px;
    margin-top: -80px;
}

/* Global styles */

body {
    background-color: var(--primary-color);
    padding-top: 60px;
    font-family: var(--primary-font);
}

h1,
h2 {
    font-family: var(--primary-font);
    text-align: center;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    margin-top: -30px;
}

p {
    font-size: x-large;
    text-align: center;
}

.scoreboard > p {
    display: inline;
    margin-left: 16px;
}

.scoreboard {
    text-align: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.rock {
    width: 100px;
    height: 60px;
    font-size: large;
    border-radius: 20px;
}

.rock:hover {
    background-color: white;
}

.paper {
    width: 100px;
    height: 60px;
    font-size: large;
    border-radius: 20px;
}

.paper:hover {
    background-color: white;
}

.scissors {
    width: 100px;
    height: 60px;
    font-size: large;
    border-radius: 20px;
}

.scissors:hover {
    background-color: white;
}

.lizard {
    width: 100px;
    height: 60px;
    font-size: large;
    border-radius: 20px;
}

.lizard:hover {
    background-color: white;
}

.spock {
    width: 100px;
    height: 60px;
    font-size: large;
    border-radius: 20px;
}

.spock:hover {
    background-color: white;
}

.moves {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.user{
    margin-left: 300px;
}

.computer{
    margin-right: 300px;
}

footer > p {
    margin-top: -280px;
}