/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Jersey 15", sans-serif;
    --primary-color: #FFF4CF; /* Light yellow */
}

/* Logo */
.logo {
    margin-left: 40px;
    margin-top: -80px;
    margin-bottom: 40px;
}

/* Global styles */

body {
    background-color: var(--primary-color);
    padding-top: 60px;
    font-family: var(--primary-font);
    position: relative;
}

h1,
h2 {
    font-family: var(--primary-font);
    text-align: center;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    margin-top: -30px;
}

p {
    font-size: x-large;
    text-align: center;
}

.rules {
    margin-top: -100px;
}

.scoreboard > p {
    display: inline;
    margin-left: 16px;
    font-size: 40px;
}

.scoreboard {
    text-align: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.button {
    width: 100px;
    height: 60px;
    font-size: large;
    border-radius: 20px;
}

.button:hover {
    background-color: white;
}

#resultDisplay {
    font-size: 30px;
    margin-left: 10px;
    text-transform: uppercase;
}

.moves {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    margin-top: -200px;
}

.rules {
    margin-top: -150px;
}

.user{
    margin-left: 300px;
    margin-top: 200px;
}

.computer{
    margin-right: 300px;
    margin-top: 200px;
}

footer {
    margin-top: 40px;
}

.error-container {
    text-align: center;
}

.return-button {
    background-color: #ffffff;
    border: solid;
    border-radius: 20px;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .logo {
        margin-left: 20px;
        margin-top: -50px;
    }

    h1 {
        font-size: 40px;
    }

    p {
        font-size: large;
    }

    .scoreboard > p {
        font-size: 24px;
    }

    .buttons {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .moves {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    #userImage {
        width: 150px;
        height: 150px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    #computerImage {
        width: 150px;
        height: 150px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .rules {
        margin-top: 150px;
    }

    footer {
        margin-top: auto;
    }
}

/* Tablet Styles */
@media (max-width: 1024px) {
    .user,
    .computer {
        margin: 0 auto;
    }

    .moves {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        margin-top: auto;
    }

    .rules {
        margin-top: -350px;
    }

    footer {
        margin-top: 200px;
    }
}